column1 = 15
column2 = 15
column3 = 25
column4 = 10 
column5 = 15
column6 = 5
column7 = 15

column1_name = Наименование:
column2_name = Модель:
column3_name = Размер:
column4_name = Цена:
column5_name = Дата:
column6_name = Тип:
column7_name = Штрих-код:

listwin_ypos = 15
listwin_height = 46

sessionwin_ypos = 61
sessionwin_height = 27 

statuswin_ypos = 0
statuswin_height = 15

searchwin_ypos = 87 
searchwin_height = 14

exit_key = 113
close_key = 27 
search_key = i
delete_key = d
add_key = a
edit_key = e
plot_key = g
scan_prefix = 276 
